  .apt-map-container {
    display: flex;
    background-color:#D3CBE4;
    flex-direction: column;
    height: 100vh;
    width: 120%;
  }
  
  .apt-map-and-carousel {
    display: flex;
    flex: 1;
  }
  
  .apt-map {
    flex: 2;
    width: 100%;
  }
  
  .carousel {
    flex: 1;
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 60vh;
  }
  
  /* Adjust the carousel item height */
  .carousel-item {
    height: calc(100vh - 40px); /* Adjust based on your layout */
    overflow-y: auto;
  }

  .property-carousel {
    height: 80vh;    /* Adjust this value as needed */
    overflow-y: auto;
    padding-right:10px;
    scroll-snap-type: y mandatory;
  }
  
  .property-carousel-item {
    background-color: #E8E3F2;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin-bottom: 5px;
    transition: transform 0.2s;
  }


